@charset 'UTF-8';

/* Importações de fontes */
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

/* Configuração Global */
* {
    margin: 0;
    padding: 0;
}

/* Variáveis */
:root {
    --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fontetitulo: 'Passion One', cursive;
    --fontecorpo: 'Sriracha', cursive;
}

/*  Início das configurações */
body {
    background-color: darkgray;
    font-family: var(--fontecorpo);
}

/* INICIO HEADER */
header {
    background-color: black;
    text-align: center;
    color: white;
}

header h1 {
    color: white;
    padding-top: 50px;
    font-family: var(--fontetitulo);
    font-variant: small-caps;
    font-size: 7vw;
    
}

header p {
    padding-bottom: 50px;
    font-size: 2vw;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}
/* FIM HEADER */

/* INICIO CORPO */

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fontecorpo);
    font-size: 3vw;
}

section > p {
    padding-bottom: 2em;
}

.branco {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
}

.imagem p {
    display: inline-block;
    padding-left: 5px;
    background-color: rgba(0, 0, 0, 0.26)

}

#imagem1 {
    background: black url(imagens/background001.jpg) center right / cover fixed;
}

#imagem2 {
    background: black url(imagens/background002.jpg) right bottom / cover fixed;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}